* {
    box-sizing: content-box;
}

.container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}

.qw {
    width: 50px;
    height: 50px;
    background: #000;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid #000;
}

.list {
    display: flex;
    gap: 20px;
}

.item {
    border-bottom: 1px solid #000;
}