/* 1 */

* {
    background: black;
}

.a1 {
    position: fixed;
    background: rgb(255, 255, 255);
    max-width: 1000px;
    height: 100px;
    right: 50px;
    left: 50%;
    bottom: 100px;
    border-radius: 10px;
}

.a2 {
    position: absolute;
    background: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    bottom: 50%;
    left: 10%;
}