.form {
    width: 13vw;
    border-radius: 10px;
    border-width: 2px;
}

.h1 {
    font-size: 20px;
}

.label {
    display: block;
}

.input {
    display: block;
    border-radius: 10px;
    border-width: 2px;
}

.textarea {
    display: block;
    cursor: pointer;
    border-radius: 10px;
    border-width: 2px;
    resize: vertical;
    min-width: 169px;
    min-height: 15px;
    height: 100%;
    max-height: 15vh;
}

.checkbox {
    cursor: pointer;
    border-radius: 10px;
    border-width: 2px;
}

.button {
    cursor: pointer;
}